<%- include("./partials/header.ejs") %>
  <link rel="stylesheet" href="/css/main.css" />
  <%- include("./partials/navbar.ejs") %>

    <body>
      <div class="main">
        <div class="container my-3">
          <div class="row">
            <div class="col-md-9 mx-auto">
              <div class="card border-0">
                <div class="card-body border-0">
                  <h3 class="text-center text-black mb-3">
                    Domine a pronúncia de palavras em inglês
                  </h3>
                  <form method="POST" action="/text/save" class="text-center">
                    <div class="form-group">
                      <div class="input-group">
                        <input type="search" class="form-control text-md text-input input-total-rounded" name="text"
                          id="texto" placeholder="Digite uma palavra para obter mais informações" aria-label="Search"
                          aria-describedby="search-addon" required />
                        <button type="submit" class="btn btn-primary" data-mdb-ripple-init>
                          <span class="spinner-border spinner-border-sm mr-2 d-none" role="status"
                            aria-hidden="true"></span>
                          <b><i class="bi bi-search btn-custom" id="search"></i></b>
                        </button>
                      </div>
                    </div>
                  </form>
                  <!-- <p class="text-center lead text-black-80 mt-2">Quer saber informações de uma palavra em Inglês? O Transcriptus faz isso para você</p> -->
                </div>
                <div
                  class="alert-danger d-flex justify-content-center text-center larger-text text-danger fs-5 animate__animated animate__fadeInUp"
                  role="alert">
                  <b><%- textError %></b>
                </div>
              </div>
              <hr />
              <h3 style="color: #021134">
                <img src="/img/doubt.svg" width="30" height="30" alt="Ícone Inglês" />
                O que é transcrição fonética?
              </h3>
              <p>
                A transcrição fonética é uma forma de representar os sons da fala
                usando símbolos específicos. É como se fosse uma espécie de
                alfabeto, chamado Alfabeto Fonético Internacional (IPA), onde cada
                som do inglês tem um símbolo próprio. E sabe o que é legal? No
                Transcriptus, a gente também mostra uma versão mais relaxada, tipo
                como se estivesse falando no nosso bom e velho português, pra você
                ter uma ideia melhor de como pronunciar as palavras
              </p>
              <h3 style="color: #021134">
                <img src="/img/doubt.svg" width="30" height="30" alt="Ícone Inglês" />
                Por que você deve se preocupar com a pronúncia correta?
              </h3>
              <p>
                A correta pronúncia desempenha um papel fundamental para aqueles que
                estão aprendendo inglês. Ela é essencial para uma comunicação eficaz
                no idioma. Se a sua pronúncia não estiver precisa, há o risco de ser
                mal interpretado por outros ou encontrar dificuldades para fazer-se
                entender. Mas olha só, você tá com sorte! Aqui é possível aprimorar
                a pronúncia do inglês ouvindo e aprendendo a pronunciar as palavras
                corretamente
              </p>
            </div>
            <div class="col-md-3">
              <br><br>
              <div class="card rounded-4 card-word-of-day">
                <b class="text-center" style="font-size: 16px; text-transform: uppercase">
                  Palavra do Dia
                </b>
                <div class="text-center" style="float: right;">
                  <b id="word-of-the-day" class="word-day text-center">
                    <%= dailyWordInfo.dailyWord %>
                  </b>
                  <span style="text-indent: 30px;">
                    <%= dailyWordInfo.definition %>
                  </span>
                  <br>
                  <i style="font-size: 20px;">
                    <%= dailyWordInfo.phonetic %>
                  </i><br>

                </div>
                <div class="card mt-3 border rounded-4" style="float: right;">
                  <div class="text-dark text-center">
                    <h5><b>Sorteio de palavras</b></h5>
                  </div>
                  <div class="btn-group" style="display: flex; justify-content: center">
                    <button id="output" class="border-0" onclick="copyToClipboard()" style="background-color: #f5f5f5">
                      <i class="bi bi-dice-5-fill"></i>
                      <i class="bi bi-dice-5-fill"></i>
                      <i class="bi bi-dice-5-fill"></i>
                      <i class="bi bi-dice-5-fill"></i>
                      <i class="bi bi-dice-5-fill"></i>
                      <i class="bi bi-dice-5-fill"></i>
                    </button>
                    <i class="bi bi-clipboard hidden" id="copyButton" onclick="copyToClipboard()"></i>
                  </div>
                  <div class="card-body">
                    <form action="/random" method="post">
                      <button class="btn btn-sm bg-primary text-white" id="raffle" style="
                      padding: 10px 20px;
                      font-size: 16px;
                      border: 2px solid;
                      width: 100%;
                    ">
                        <b>Sortear</b>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      </div>
      <script>
        const copyToClipboard = async () => {
          try {
            const button = document.getElementById("output");
            await navigator.clipboard.writeText(button.textContent);

            const copyButton = document.getElementById("copyButton");

            copyButton.classList.toggle("bi-clipboard-check-fill");
            setTimeout(() => {
              copyButton.classList.remove("bi-clipboard-check-fill");
              copyButton.classList.add("bi-clipboard");
            }, 4000);
          } catch (err) {
            console.error("Erro ao copiar!");
          }
        };
      </script>
      <script src="/js/random.js"></script>
      <script src="/js/load.js"></script>
    </body>